.root{
-fx-backgroud-color:#111111;

}
.label{
-fx-font-size:36px;
-fx-font-weight:"bold";
-fx-font-fill:"white";

}
.title-text{
-fx-font-size:48px;
-fx-font-weight:"bold";
-fx-font-fill:"white";

}
.user{
-fx-font-size:7px;
-fx-font-weight:"bold";
-fx-font-fill:"white";
}
